.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

!src/ui_panel/**
.claude/**
.git-extension-wrap/**
.extension-always-learn/**
main
temporary-branch